.contacts-hero {
  margin-top: 120px;
}

.contacts-hero__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
}

.contact-form-section {
  display: flex;
  gap: 320px;
  margin-top: 80px;
  margin-bottom: 80px;
  align-items: flex-start;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}

.contact-form-wrapper {
  flex: 1;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contact-form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.btn-submit {
  align-self: flex-start;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 16px 14px;
  transition: background-color var(--transition);
}

.contact-form__field input {
  width: 100%;
  padding: 24px;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  outline: none;
  transition: background 0.3s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.contact-form-wrapper {
  display: flex;
  max-width: 100%;
  gap: 120px;
}

.contacts-footer-info {
  display: flex;
  gap: 270px;
  margin-bottom: 80px;
}

.contacts-direct {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.contacts-direct__link {
  text-decoration: none;
  color: var(--primary-black);
  font-weight: 500;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.social-icons__list {
  display: flex;
  gap: 16px;
}

.social-icons__link {
  display: block;
}
