@font-face {
  font-family: "TT Hoves";
  src: url("/assets/fonts/TTHoves-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Hoves";
  src: url("/assets/fonts/TTHoves-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
