.projects__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
}

.projects__header h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  white-space: nowrap;
}

.projects__header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0px;
  max-width: 720px;
}

@media (max-width: 1024px) {
  .projects__header {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .projects__header {
    flex-direction: column;
    gap: 32px;
  }

  .projects__header p {
    font-size: 18px;
  }
}
