---
const base = import.meta.env.BASE_URL;
---
<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__container">
      <div class="footer__brand">
        <p class="footer__logo">Javohir<br />Ibragimov</p>
        <p class="footer__year">2026</p>
      </div>

      <div class="footer__nav">
        <address class="footer__section" aria-label="Контакты">
          <p class="footer__subtitle">↳ Связаться со мной</p>
          <ul class="footer__list">
            <li><a href="https://t.me/javaibr" class="footer__link">Telegram</a></li>
            <li><a href="https://wa.me/998938123060" class="footer__link">Whatsapp</a></li>
            <li><a href="https://linkedin.com/in/username" class="footer__link">LinkedIn</a></li>
            <li><a href="https://instagram.com/javaibr" class="footer__link">Instagram</a></li>
          </ul>
        </address>

        <nav class="footer__section" aria-label="Навигация по сайту">
          <p class="footer__subtitle">↳ Страницы</p>
          <ul class="footer__list">
            <li><a href={base || '/'} class="footer__link">Главная</a></li>
            <li><a href={`${base || '/'}#projects`} class="footer__link">Проекты</a></li>
            <li><a href={`${base}contacts/`} class="footer__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
